based on: https://www.youtube.com/watch?v=GyUbo45mVSE

# Police Dataset
Here data from Police Check Post is given
This data is in CVS and it is analyzed using Pandas DataFrame

In [59]:
import pandas as pd
pd.set_option('display.expand_frame_repr', False) # for showing width of the colums better

In [60]:
data = pd.read_csv("police_dataset.csv")
data

       stop_date stop_time  country_name driver_gender  driver_age_raw  driver_age driver_race                   violation_raw  violation  search_conducted search_type   stop_outcome is_arrested stop_duration  drugs_related_stop
0       1/2/2005      1:55           NaN             M          1985.0        20.0       White                        Speeding   Speeding             False         NaN       Citation       False      0-15 Min               False
1      1/18/2005      8:15           NaN             M          1965.0        40.0       White                        Speeding   Speeding             False         NaN       Citation       False      0-15 Min               False
2      1/23/2005     23:15           NaN             M          1972.0        33.0       White                        Speeding   Speeding             False         NaN       Citation       False      0-15 Min               False
3      2/20/2005     17:15           NaN             M          1986.0        19.0       White                Call for Service      Other             False         NaN  Arrest Driver        True     16-30 Min               False
4      3/14/2005     10:00           NaN             F          1984.0        21.0       White                        Speeding   Speeding             False         NaN       Citation       False      0-15 Min               False
...          ...       ...           ...           ...             ...         ...         ...                             ...        ...               ...         ...            ...         ...           ...                 ...
65530  12/6/2012     17:54           NaN             F          1987.0        25.0       White                        Speeding   Speeding             False         NaN       Citation       False      0-15 Min               False
65531  12/6/2012     22:22           NaN             M          1954.0        58.0       White                        Speeding   Speeding             False         NaN        Warning       False      0-15 Min               False
65532  12/6/2012     23:20           NaN             M          1985.0        27.0       Black  Equipment/Inspection Violation  Equipment             False         NaN       Citation       False      0-15 Min               False
65533  12/7/2012      0:23           NaN           NaN             NaN         NaN         NaN                             NaN        NaN             False         NaN            NaN         NaN           NaN               False
65534  12/7/2012      0:30           NaN             F          1985.0        27.0       White                        Speeding   Speeding             False         NaN       Citation       False      0-15 Min               False

[65535 rows x 15 columns]

### **Q1) Remove the column that only contains missing values.**

In [61]:
data.shape
data.isnull().sum()
null_columns = ["country_name"]
data.drop(columns=null_columns, inplace=True)

### **Q2) For Speeding, where Man or Woman stopped more often.**

In [62]:
data.head(1)
# Solution 1
speeding_male = data[(data["violation"]=="Speeding") &(data["driver_gender"]=='M')]
speeding_female = data[(data["violation"]=="Speeding") &(data["driver_gender"]=='F')]

print(f'The number of males stopped for speeding is {len(speeding_male)}, while the number of woman stopped for speeding is: {len(speeding_female)}')

# Solution 2
data[data["violation"] == "Speeding"].driver_gender.value_counts()

The number of males stopped for speeding is 25517, while the number of woman stopped for speeding is: 11686

driver_gender
M    25517
F    11686
Name: count, dtype: int64

### **Q3) Does the gennder affect who gets searched during a stop.**

In [63]:
data.head(2)
out=data.groupby("driver_gender").search_conducted.sum()
out

driver_gender
F     366
M    2113
Name: search_conducted, dtype: int64

### **Q4) What is the mean stop_duration?**

In [67]:
data.head(4)["stop_duration"]
# stop_duration is in in string format. It need to be converted into into numeric.
data["stop_duration"].unique()
# We have three main class lets convert them into the subjective mean values:
sample =  data["stop_duration"].map({'0-15 Min': 7.5, '16-30 Min':24,'30+ Min': 45})
sample.mean()

12.187420698181345

### **Q5) Compare the age distribution for each violation?**

In [69]:
data.head(3)

   stop_date stop_time driver_gender  driver_age_raw  driver_age driver_race violation_raw violation  search_conducted search_type stop_outcome is_arrested stop_duration  drugs_related_stop
0   1/2/2005      1:55             M          1985.0        20.0       White      Speeding  Speeding             False         NaN     Citation       False      0-15 Min               False
1  1/18/2005      8:15             M          1965.0        40.0       White      Speeding  Speeding             False         NaN     Citation       False      0-15 Min               False
2  1/23/2005     23:15             M          1972.0        33.0       White      Speeding  Speeding             False         NaN     Citation       False      0-15 Min               False

In [73]:
data.groupby("violation").driver_age.describe()

                       count       mean        std   min   25%   50%   75%   max
violation
Equipment             6507.0  31.682957  11.380671  16.0  23.0  28.0  39.0  81.0
Moving violation     11876.0  36.736443  13.258350  15.0  25.0  35.0  47.0  86.0
Other                 3477.0  40.362381  12.754423  16.0  30.0  41.0  50.0  86.0
Registration/plates   2240.0  32.656696  11.150780  16.0  24.0  30.0  40.0  74.0
Seat belt                3.0  30.333333  10.214369  23.0  24.5  26.0  34.0  42.0
Speeding             37120.0  33.262581  12.615781  15.0  23.0  30.0  42.0  88.0